{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": "last 2 versions",
                    "node": "current"
                },
                "modules": false
            }
        ],
        "stage-1",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel"
    ]
}
